form {
  display: flex;
  flex-direction: column;
  fieldset {
    border-color: var(--primary-color);
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    legend {
      margin: 5px;
    }

    margin-bottom: 2rem;

    div {
      display: flex;
      flex-direction: column;
    }
  }
}

label {
  color: var(--primary-color);
  font-size: larger;
  font-weight: bolder;
}

input {
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  padding: 10px;
}

textarea {
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  padding: 10px;
}
