@import "tailwindcss";

:root {
  --primary-color: #ffdd70;
  --secondary-color: #ffffff;
  --background-color: #121212;
  --text-color: #ffffff;

  --phone-width: 414px;
}

body {
  background-color: var(--background-color);
}

text {
  color: var(--text-color);
}

a {
  color: white;
  margin-right: 1rem;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: var(--primary-color);
  }
}

h1 {
  color: var(--primary-color);
  font-size: 1.5rem;
  margin-bottom: 0;
}

h2 {
  color: var(--primary-color);
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

button {
  width: auto;
  color: var(--primary-color);
  background-color: var(--background-color);

  padding: 12px;
  border: 1px dashed #000;
  border-style: solid;
  border-radius: 1rem;
}
