@import "./card.css";

:root {
  --primary-color: #ffdd70;
  --secondary-color: #ffffff;
  --background-color: #121212;
  --text-color: #ffffff;

  --phone-width: 414px;
}

body {
  background-color: var(--background-color);
}

text {
  color: var(--text-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: large;

  &:hover {
    text-decoration: underline;
    color: var(--text-color);
  }

  &:active {
    transform: scale(0.8);
    box-shadow: 0 5px #666;
  }
}

h1 {
  color: var(--primary-color);
  font-size: 1.5rem;
  margin-bottom: 0;
}

h2 {
  color: var(--primary-color);
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

button {
  width: auto;
  color: var(--primary-color);
  background-color: var(--background-color);
  justify-content: center;
  text-align: center;

  padding: 12px;
  border: 1px dashed #000;
  border-style: solid;
  border-radius: 1rem;

  a {
    font-size: medium;
    color: var(--text-color);
  }

  &:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
  }

  &:active {
    transform: scale(0.8);
    box-shadow: 0 5px #666;
  }
}
